*{background-color: #fff487;}
#victor{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif }
#victor{color: #000B58;}
.head{text-align: center;}
.head{font-style: oblique;}
.head{color: #003161;}
.subhead{font-style: italic;}
.subhead{color: #006a67;}
#closingtag{color: #000B58;}
img{border-radius: 50%; border: 2px solid sandybrown;}